.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  width: 1184px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 928px;
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    width: 720px;
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: 500px;
    grid-template-columns: 100%;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 560px) {
  .photo-grid {
    width: 90%;
    grid-template-columns: 100%;
    padding-bottom: 64px;
  }
}
