.places {
  width: 984px;
}

@media screen and (max-width: 1085px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 989px) {
  .places {
    width: 93.75%;
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: 320px;
  }
}
