.place__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
  margin-right: 40px;
}

@media screen and (max-width: 1085px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 989px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 700px) {
  .place__image {
    width: 90%;
    height: auto;
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 400px) {
  .place__image {
    width: 320px;
  }
}
