.intro__list {
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  list-style-type: none;
  padding-left: 0;
  margin: 33px 0 92px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin: 33px 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro__list {
    margin: 33px 0 64px;
  }
}
