.lead {
  width: 984px;
  padding-top: 56px;
}

@media screen and (max-width: 1085px) {
  .lead {
    width: 90.62%;
    padding-top: 48px;
  }
}

@media screen and (max-width: 928px) {
  .lead {
    width: 100%;
  }
}
