.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .place__paragraph {
    width: 90%;
    margin: auto;
  }
}

.place__paragraph:nth-child(2n) {
  margin-top: 26px;
}
