.intro {
  width: 76.875%;
}

@media screen and (max-width: 1207px) {
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
  }
}
