.lead__subtitle {
  width: 640px;
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 719px) {
  .lead__subtitle {
    width: 400px;
    font-size: 24px;
    line-height: 28px;
    margin: 16px auto 40px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
  }
}
